@model Web.ViewModels.ExpenseListViewModel
@using Web.Helpers
@{
    ViewData["Title"] = "Išlaidų sąrašas";
    ViewData["Menu"] = "ExpenseList";
    ViewData["BreadCrumbs"] = new BreadCrumb()
        .Append(SiteCrumbs.Home(Url))
        .Append(SiteCrumbs.ExpenseList(Url));
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Išlaidos</h1>

<div class="align-right margin-min">
    <a class="btn btn-primary" asp-action="CreateForm" asp-controller="Expense"><span class="fas fa-plus" /> <span>Kurti</span></a>
</div>
<table class="table borderless">
    <tr>
        <th>#</th>
        <th>Paskirtis</th>
        <th>Kiekis</th>
        <th>Pastaba</th>
        <th>Data</th>
        <th></th>
    </tr>

    @foreach (var expense in Model.Expenses)
    {
        <tr>
            <td>@(Model.Expenses.IndexOf(expense) + 1)</td>
            <td>@(expense.Purpose)</td>
            <td>@expense.Amount.ToString("F2") €</td>
            <td>@(expense.Comment ?? "-")</td>
            <td>@expense.CreationDate.ToString("yyyy-MM-dd")</td>
            <td>
                <a class="btn btn-outline-secondary" asp-controller="Expense" asp-action="EditSelected" asp-route-id="@expense.Id">Redaguoti</a>
                <a class="btn btn-danger" href="@Url.Action("Delete", "Expense", new { id = expense.Id })" rel="modal:open"><span class="fas fa-trash" /></a>
            </td>
        </tr>
    }

</table>
