@model Web.ViewModels.LoanViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var isAdd = Model.Id == 0;
    var title = isAdd ? "Pridėti paskolą" : "Redaguoti paskolą";
    var loanTypes = new List<SelectListItem>()
    {
        new SelectListItem() {Text = "Vartojimo", Value = "Consumer"},
        new SelectListItem() {Text = "Būsto", Value = "Housing"}
    };

    ViewData["Title"] = title;
}

<h1>@(title)</h1>

@using (Html.BeginForm(isAdd ? "PostCreate" : "PostEdit", "Loan", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        <label for="Sum">Suma (€)*</label>
        @Html.TextBoxFor(x => x.Sum, new {@placeholder = "Suma", @class = "form-control", type = "number", step = "0.01"})
    </div>
    <div class="form-group">
        <label for="Interest">Palūkanos (%)*</label>
        @Html.TextBoxFor(x => x.Interest, new {@placeholder = "Palūkanos", @class = "form-control", type = "number", step = "0.01"})
    </div>
    <div class="form-group">
        <label for="Term">Terminas*</label>
        <input asp-for="Term" class="form-control" value="@Model.Term.ToShortDateString()"/>
    </div>
    <div class="form-group">
        <label for="Provider">Išdavėjas*</label>
        @Html.TextBoxFor(x => x.Provider, new {@placeholder = "Išdavėjas", @class = "form-control"})
    </div>
    <div class="form-group">
        <label for="ReturnedSum">Grąžinta suma (€)*</label>
        @Html.TextBoxFor(x => x.ReturnedSum, new {@placeholder = "Grąžinta suma", @class = "form-control", type = "number", step = "0.01"})
    </div>
    <div class="form-group">
        <label for="Type">Tipas</label>
        @Html.DropDownListFor(x => x.Type, new SelectList(loanTypes, "Value", "Text"), new {@class = "form-control"})
    </div>
    <button type="submit" class="btn btn-primary">@(isAdd ? "Pridėti" : "Redaguoti")</button>
    @if (isAdd)
    {
        <a class="btn btn-outline-secondary" asp-controller="Loan" asp-action="Index">Grįžti į sąrašą</a>
    }
    else
    {
        <a class="btn btn-outline-secondary" asp-controller="Loan" asp-action="GetLoan" asp-route-id="@Model.Id">Grįžti atgal</a>
    }
}