@using Web.Helpers
@model Web.ViewModels.PlanBudgetViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Biudžeto planavimas";
    ViewData["Menu"] = "BudgetPlanning";
    ViewData["BreadCrumbs"] = new BreadCrumb()
        .Append(SiteCrumbs.Home(Url))
        .Append(SiteCrumbs.BudgetPlanning(Url));
}
<h1>Biudžeto planavimas</h1>

<div id="js-goals" style="display: none" data-bind="visible: isInitialized">
    <h3>Pajamų tikslai kategorijoms:</h3>
    <!-- ko foreach: goalArray -->
    <div class="form-inline">
        <div class="container">
            <div class="form-group mb-2 margin-between">
                <select class="form-control"
                        data-bind="options: categoryOptions, 
                                                        optionsValue: function(item) { return item && item.id || 0 }, 
                                                        optionsText: function(item) { return item && item.name || ''; }, 
                                                        optionsCaption: 'Be kategorijos',
                                                        value: categoryId">
                </select>
                <input data-bind="value: goal" type="number" class="form-control"/>
                <div class="mb-2">
                    <button class="btn btn-primary" type="submit" data-bind="click: $parent.saveGoal">Išsaugoti</button>
                    <button class="btn btn-secondary" data-bind="click: $parent.removeGoal">Pašalinti</button>
                </div>
            </div>
            <div class="row">
                <span>Pajamos šioje kategorijoje: </span>
                <span data-bind="text: actualAmount() + ', €', css: { 'success-color': $parent.success(id(), actualAmount(), goal()),
                                                                     'fail-color': $parent.fail(id(), actualAmount(), goal()) }" style="margin-left: 5px"></span>
                <span data-bind="visible: $parent.fail(id(), actualAmount(), goal())" class="fail-color" style="margin-left: 10px">Jūs dar nepasiekėte savo pajamų tikslo šioje kategorijoje!</span>
                <span data-bind="visible: $parent.success(id(), actualAmount(), goal())" class="success-color" style="margin-left: 10px">Jūs pasiekėte savo pajamų tikslo šioje kategorijoje!</span>
            </div>
            <hr/>
        </div>
    </div>

    <!-- /ko -->

    <div class="new-goal">
        <button class="btn btn-primary" data-bind="click: addGoalRow">Pridėti tikslą</button>
    </div>
    <hr/>
</div>

<div id="js-limits" style="display: none" data-bind="visible: isInitialized">
    <h3>Limitai kategorijoms:</h3>
    <!-- ko foreach: limitArray -->
    <div class="form-inline">
        <div class="container">
            <div class="form-group mb-2 margin-between">
                <select class="form-control"
                        data-bind="options: categoryOptions, 
                                                optionsValue: function(item) { return item && item.id || 0 }, 
                                                optionsText: function(item) { return item && item.name || ''; }, 
                                                optionsCaption: 'Be kategorijos',
                                                value: categoryId">
                </select>
                <input data-bind="value: limit" class="form-control"/>
                <div class="mb-2">
                    <button class="btn btn-primary" data-bind="click: $parent.saveLimit">Išsaugoti</button>
                    <button class="btn btn-secondary" data-bind="click: $parent.removeLimit">Pašalinti</button>
                </div>
            </div>
            <div class="row mb-2">
                <span>Išlaidos šioje kategorijoje: </span>
                <span data-bind="text: actualAmount() + ', €', css: { 'success-color': $parent.success(id(), actualAmount(), limit()), 
                                                                            'fail-color': $parent.fail(id(), actualAmount(), limit()) }" style="margin-left: 5px"></span>
                <span data-bind="visible: $parent.fail(id(), actualAmount(), limit())" class="fail-color" style="margin-left: 10px">Jūs viršijote savo išlaidų limitą šioje kategorijoje!</span>
                <span data-bind="visible: $parent.success(id(), actualAmount(), limit())" class="success-color" style="margin-left: 10px">Jūs dar neviršijote savo išlaidų limito šioje kategorijoje!</span>
            </div>
            <hr/>
        </div>
    </div>

    <!-- /ko -->

    <div class="new-goal">
        <button class="btn btn-primary" data-bind="click: addLimitRow">Pridėti limitą</button>
    </div>
    <hr/>
</div>

@section Scripts {
    <script>
        window.formModel = @Html.Raw(Json.Serialize(Model));
        window.saveGoalUrl = '@Url.Action("SubmitGoal", "BudgetPlanning")';
        window.saveLimitUrl = '@Url.Action("SubmitLimit", "BudgetPlanning")';
        window.removeGoalUrl = '@Url.Action("RemoveGoal", "BudgetPlanning")';
        window.removeLimitUrl = '@Url.Action("RemoveLimit", "BudgetPlanning")';
    </script>
    <script type="text/javascript" src="~/js/planPage.js"></script>
}