@model Web.ViewModels.IncomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var isAdd = Model.Id == 0;
    var title = isAdd ? "Pridėti pajamas" : "Redaguoti pajamas";

    ViewData["Title"] = title;
}

<h1>@(title)</h1>

<form id="js-income-form">
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        <label for="Category">Kategorija*</label>
        <select class="form-control" id="Category" data-bind="options: categoryOptions, 
                                                       optionsValue: function(item) { return item.id }, 
                                                       optionsText: function(item) { return item.name; }, 
                                                       optionsCaption: 'Pasirinkite kategoriją',
                                                       value: viewModel.categoryId"></select>
    </div>
    <div class="form-group">
        <label for="source">Šaltinis*</label>
        @Html.TextBoxFor(x => x.Source, new {@placeholder = "Šaltinis", @class = "form-control", data_bind = $"value: viewModel.{nameof(Model.Source).ToLower()}"})
    </div>
    <div class="form-group">
        <label for="amount">Kiekis (€)*</label>
        @Html.TextBoxFor(x => x.Amount, new {@type = "number", @placeholder = "Kiekis", @class = "form-control", data_bind = $"value: viewModel.{nameof(Model.Amount).ToLower()}"})
    </div>
    <div class="form-group">
        <label for="comment">Pastaba</label>
        @Html.TextBoxFor(x => x.Comment, new {@placeholder = "Pastaba", @class = "form-control", data_bind = $"value: viewModel.{nameof(Model.Comment).ToLower()}"})
    </div>
    <button data-bind="click: save"  class="btn btn-primary">@(isAdd ? "Pridėti" : "Redaguoti")</button>
    <a class="btn btn-outline-secondary" asp-controller="Income" asp-action="OpenIncomeList">Grįžti į sąrašą</a>
</form>

@section Scripts {
    <script>
        window.formModel = @Html.Raw(Json.Serialize(Model));
        window.saveUrl = '@Url.Action(isAdd ? "CreateIncome" : "EditIncome", "Income")';
    </script>
    <script type="text/javascript" src="~/js/incomeForm.js"></script>
}