@model Web.ViewModels.IncomeListViewModel
@using Web.Helpers
@{
    ViewData["Title"] = "Pajamų sąrašas";
    ViewData["Menu"] = "IncomeList";
    ViewData["BreadCrumbs"] = new BreadCrumb()
        .Append(SiteCrumbs.Home(Url))
        .Append(SiteCrumbs.IncomeList(Url));
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Pajamos</h1>

<div class="align-right margin-min">
    <a class="btn btn-primary" asp-action="OpenCreationForm" asp-controller="Income"><span class="fas fa-plus" /> <span>Kurti</span></a>
</div>
<table class="table borderless">
    <tr>
        <th>#</th>
        <th>Šaltinis</th>
        <th>Kiekis</th>
        <th>Pastaba</th>
        <th>Data</th>
        <th></th>
    </tr>

    @foreach (var income in Model.Income)
    {
        <tr>
            <td>@(Model.Income.IndexOf(income) + 1)</td>
            <td>@(income.Source)</td>
            <td>@income.Amount.ToString("F2") €</td>
            <td>@(income.Comment ?? "-")</td>
            <td>@income.CreationDate.ToString("yyyy-MM-dd")</td>
            <td>
                <a class="btn btn-outline-secondary" asp-controller="Income" asp-action="OpenEditForm" asp-route-id="@income.Id">Redaguoti</a>
                <a class="btn btn-danger" href="@Url.Action("Delete", "Income", new { id = income.Id })" rel="modal:open"><span class="fas fa-trash" /></a>
            </td>
        </tr>
    }

</table>
