@using Web.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <div class="body-container container">
        <div class="sidebar">
            <a class="@ActiveLinkHelper.IsActiveLink("Home", ViewData)" asp-controller="User" asp-action="Index">Namai</a>
            <a href="#">Profilis</a>
            <a href="#">Pranešimai</a>
            <a class="@ActiveLinkHelper.IsActiveLink("LoanList", ViewData)" asp-controller="Loan" asp-action="Index">Paskolos</a>
            <a class="@ActiveLinkHelper.IsActiveLink("LoanPlanner", ViewData)" asp-controller="Loan" asp-action="OpenLoanPlanner">Paskolų planuoklė</a>
            <a class="@ActiveLinkHelper.IsActiveLink("ExportPage", ViewData)" asp-controller="ExternalData" asp-action="OpenExportPage">Eksportuoti duomenis</a>
            <a class="@ActiveLinkHelper.IsActiveLink("IncomeList", ViewData)" asp-controller="Income" asp-action="OpenIncomeList">Pajamos</a>
            <a class="@ActiveLinkHelper.IsActiveLink("ExpenseList", ViewData)" asp-controller="Expense" asp-action="OpenExpenseList">Išlaidos</a>
            <a class="@ActiveLinkHelper.IsActiveLink("BudgetPlanning", ViewData)" asp-controller="BudgetPlanning" asp-action="OpenPlanningPage">Biudžeto planavimas</a>
            <a class="@ActiveLinkHelper.IsActiveLink("CategoriesList", ViewData)" asp-controller="Category" asp-action="OpenCategoriesList">Kategorijų valdymas</a>
            <a class="@ActiveLinkHelper.IsActiveLink("StockList", ViewData)" asp-controller="Stock" asp-action="OpenStockList">Akcijos</a>
            <a class="@ActiveLinkHelper.IsActiveLink("StockReport", ViewData)" asp-controller="Stock" asp-action="OpenStocksReport">Akcijų ataskaita</a>
            <a class="@ActiveLinkHelper.IsActiveLink("RealEstateList", ViewData)" asp-controller="RealEstate" asp-action="OpenRealEstateList">Nekilnojamasis Turtas</a>
        </div>
        <main class="main-content" role="main" class="pb-3">
            @Html.Partial("_BreadCrumb", (BreadCrumb)ViewData["BreadCrumbs"])
            @Html.Partial("_ErrorMessage")
            @Html.Partial("_SuccessMessage")
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - FinSys
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>\
    <script src="https://kit.fontawesome.com/2402f23348.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script type='text/javascript' src='~/lib/knockout/knockout-3.5.1.js'></script>
    <script type='text/javascript' src='~/lib/knockout/knockout.viewmodel.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script type="text/javascript">
        'use strict'
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
