@using Web.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="body-container container">
        <div class="sidebar">
            <a class="@ActiveLinkHelper.IsActiveLink("Home", ViewData)" asp-controller="User" asp-action="Index">Namai</a>
            <a href="#">Profilis</a>
            <a href="#">Pranešimai</a>
            <a href="#">Paskolos</a>
            <a class="@ActiveLinkHelper.IsActiveLink("ExportPage", ViewData)" asp-controller="ExternalData" asp-action="OpenExportPage">Eksportuoti duomenis</a>
            <a class="@ActiveLinkHelper.IsActiveLink("IncomeList", ViewData)" asp-controller="Income" asp-action="OpenIncomeList">Pajamos</a>
            <a class="@ActiveLinkHelper.IsActiveLink("ExpenseList", ViewData)" asp-controller="Expense" asp-action="OpenExpenseList">Išlaidos</a>
            <a href="#">Kategorijų valdymas</a>
            <a href="#">Pensijų Fondas</a>
            <a href="#">Akcijos</a>
            <a href="#">Nekilnojamasis Turtas</a>
            <a href="#">Finansiniai Straipsniai</a>
        </div>
        <main class="main-content" role="main" class="pb-3">
            @Html.Partial("_BreadCrumb", (BreadCrumb)ViewData["BreadCrumbs"])
            @Html.Partial("_ErrorMessage")
            @Html.Partial("_SuccessMessage")
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - FinSys
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>\
    <script src="https://kit.fontawesome.com/2402f23348.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    @RenderSection("Scripts", required: false)
</body>
</html>
