@model Web.ViewModels.DeleteViewModel

<div class="modal-body">
    <h3>Ar tikrai norite pašalinti @Model.Message?</h3>
    <div class="align-right">
        <button class="btn btn-outline-secondary" style="margin-right: 20px">Atšaukti</button>
        <button id="delete-button" class="btn btn-danger">Šalinti</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".modal").css("height", "200px");

        $("#delete-button").bind("click", function () {
            $.ajax('@Url.Action(@Model.Method, @Model.Controller, new { id = @Model.Id })', {
                type: 'DELETE'
            })
                .done(function (response) {
                    window.location.replace(response);
                });
        });
    });
</script>