@model Web.ViewModels.StockViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var isAdd = Model.Id == 0;
    var title = isAdd ? "Pridėti akciją" : "Redaguoti akciją";

    ViewData["Title"] = title;
}

<h1>@(title)</h1>

@using (Html.BeginForm(isAdd ? "CreateNewStock" : "UpdateStock", "Stock", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        <label for="Name">Pavadinimas</label>
        @Html.TextBoxFor(x => x.Name, new {@placeholder="Pavadinimas pvz. FB" ,@class = "form-control" })
        
    </div>
    <div class="form-group">
        <label for="Company">Kompanija</label>
        @Html.TextBoxFor(x => x.Company, new {@placeholder="Kompanija pvz. UAB Autistas" ,@class = "form-control" })
        
    </div>
    <div class="form-group">
        <label for="Amount">Kiekis</label>
        @Html.TextBoxFor(x => x.Amount, new {@type = "number", @placeholder="Kiekis" ,@class = "form-control" })
       
    </div>
    <button type="submit" class="btn btn-primary">@(isAdd ? "Pridėti" : "Redaguoti")</button>
    <a class="btn btn-outline-secondary" asp-controller="Stock" asp-action="OpenStockList">Grįžti į sąrašą</a>
}
